body {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-left: 20px;
}

#bookList {
  list-style: none;
  display: flex;
  margin: 40px 60px;
}
.read {
  width: 400px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  background-color: green;
  padding: 20px;
  margin: 0 20px;
}
.unread {
  width: 400px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  background-color: red;
  padding: 20px;
  margin: 0 20px;
}

p {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.book-cover {
  width: 200px;
}
