/* add your styling here */

body {
  display: flex;
  justify-content: center;
  padding: 10vh;
  min-height: 100%;
  margin: 0;

  background: linear-gradient(rgb(46, 20, 66), rgb(222, 182, 89));
}

html {
  min-height: 100%;
}
.pokemon-button,
.select {
  height: 6vh;
  width: 12vw;
  border-radius: 2rem;
  background: rgb(241, 212, 243);
  font-size: 1rem;
  margin: 1rem;
}
