/* add your styling here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
.pokemon-img {
  height: 30vh;
  display: block;
}
.container {
  margin: auto;
  width: 80vw;
  height: 100vh;
  background: linear-gradient(rgb(250, 245, 132), rgb(236, 146, 107));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-get-pokemon {
  width: 40vw;
  font-size: 1.2rem;
  height: 3rem;
  margin: 10vw auto 5vw auto;
  color: white;
  border-radius: 16px;
  background-color: black;
  cursor: pointer;
}
.btn-get-pokemon:hover {
  background-color: rgb(18, 85, 166);
}
.error-message {
  color: red;
}
.pokemon-drop-down-list {
  width: 40vw;
  height: 2rem;
}
.pokemon-drop-down-list-item {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
